  <script src="src/app.js"></script>
  <script src="src/generators/generatorsModule.js"></script>
  <script src="src/library/jquery-2.1.3.min.js"></script>
  <script src="src/library/tween.min.js"></script>
  <script src="src/loaders/loaderModule.js"></script>
  <script src="src/player/playerModule.js"></script>
  <script src="src/redering/renderingModule.js"></script>
  <script src="src/generators/services/housingGenerator.js"></script>
  <script src="src/library/threejs/three.min.js"></script>
  <script src="src/loaders/services/resourceFetcher.js"></script>
  <script src="src/loaders/services/sceneLoader.js"></script>
  <script src="src/player/directives/keyboardControl.js"></script>
  <script src="src/player/directives/mouseControl.js"></script>
  <script src="src/player/services/playerFactory.js"></script>
  <script src="src/redering/ctrl/gameSetupCtrl.js"></script>
  <script src="src/redering/ctrl/listRenderCtrl.js"></script>
  <script src="src/redering/ctrl/renderingCtrl.js"></script>
  <script src="src/redering/directive/listRender.js"></script>
  <script src="src/redering/directive/ngWebgl.js"></script>
  <script src="src/redering/model/renderModelFactory.js"></script>
  <script src="src/view/view2/view2.js"></script>
  <script src="src/library/threejs/animation/Animation.js"></script>
  <script src="src/library/threejs/animation/AnimationHandler.js"></script>
  <script src="src/library/threejs/animation/KeyFrameAnimation.js"></script>
  <script src="src/library/threejs/helpers/FirstPersonControls.js"></script>
  <script src="src/library/threejs/loaders/ColladaLoader.js"></script>
