  <script src="src/app.js"></script>
  <script src="src/common/commonModule.js"></script>
  <script src="src/game/gameModule.js"></script>
  <script src="src/generators/generatorsModule.js"></script>
  <script src="src/loaders/loaderModule.js"></script>
  <script src="src/network/networkModule.js"></script>
  <script src="src/player/playerModule.js"></script>
  <script src="src/redering/renderingModule.js"></script>
  <script src="src/common/services/eventService.js"></script>
  <script src="src/common/services/Helper3D.js"></script>
  <script src="src/game/directives/gameConfig.js"></script>
  <script src="src/game/directives/gameStats.js"></script>
  <script src="src/game/model/gameConfig.js"></script>
  <script src="src/game/services/gameDriver.js"></script>
  <script src="src/game/services/networkGameDriver.js"></script>
  <script src="src/generators/services/multiplyGenerator.js"></script>
  <script src="src/library/threejs/three.min.js"></script>
  <script src="src/loaders/services/resourceFetcher.js"></script>
  <script src="src/loaders/services/sceneLoader.js"></script>
  <script src="src/loaders/services/sceneReplacements.js"></script>
  <script src="src/network/services/webSocketService.js"></script>
  <script src="src/player/directives/keyboardControl.js"></script>
  <script src="src/player/directives/mouseControl.js"></script>
  <script src="src/player/services/playerFactory.js"></script>
  <script src="src/redering/ctrl/renderingCtrl.js"></script>
  <script src="src/redering/directive/ngWebgl.js"></script>
  <script src="src/redering/model/renderModelFactory.js"></script>
  <script src="src/library/threejs/animation/Animation.js"></script>
  <script src="src/library/threejs/animation/AnimationHandler.js"></script>
  <script src="src/library/threejs/animation/KeyFrameAnimation.js"></script>
  <script src="src/library/threejs/loaders/ColladaLoader.js"></script>
