
@import "scss/_common";
body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  height: 100%;
  position: absolute;
  overflow: hidden;
  .app_canvas {
  display: block;
  @include stretch(0px,0px,0px,0px);
  [ui-view] {
    display: block;
    @include stretch(0px,0px,0px,0px);
    .renderer {
      display: block;
      @include stretch(0px,0px,0px,0px);
      .hud {
        display: block;
        @include stretch(0px,0px,0px,0px);
        .health, .score {
          display: block;
          border: 1px solid rgba(0,0,0,0.3);
          box-shadow: inset 3px 3px 2px rgba(0,0,0,0.2);
          position: absolute;
          background: rgba(255,255,255,0.3);
          bottom: 20px;
          right: 20px;
          padding: 0 20px 10px 20px;
          font-size: 35px;
          font-family: Verdana;
          color: #200006;
          border-radius: 4px;
          span {
            display: inline-block;
            font-size: 45px;
            font-weight: bold;
            color: #ab0016;
          }
        }
        .score {
          right: auto;
          left: 0;
        }
        .dmgoverlay {
          display: block;
          @include stretch(0px,0px,0px,0px);
          background-color: rgba(255,0,0,0);
          -webkit-transition: all 0.3s;
          transition: all 0.3s;
          &.dmg {
            -webkit-transition: all 0s;
            transition: all 0s;
            background-color: rgba(255,0,0,0.4);
          }
        }
        .crosshair {
          display: block;
          position: absolute;
          width: 50px;
          height: 50px;
          background: none;
          top:50%;
          left:50%;
          margin-top: -25px;
          margin-left: -25px;
          div {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin: 3px;
            &.tl {
              border-bottom: 1px solid #000000;
              border-right: 1px solid #000000;
            }
            &.tr {
              border-bottom: 1px solid #000000;
              border-left: 1px solid #000000;
            }
            &.bl {
              border-top: 1px solid #000000;
              border-right: 1px solid #000000;
            }
            &.br {
              border-top: 1px solid #000000;
              border-left: 1px solid #000000;
            }
          }
        }
      }
      .loader {
        display: block;
        position: absolute;
        width:400px;
        height: 200px;
        background: rgba(255,255,255,0.3);
        color:#e38d13;
        font-size: 20px;
        font-family: Verdana;
        top:50%;
        left:50%;
        margin-top: -100px;
        margin-left: -200px;
        text-align: center;
        vertical-align: middle;
      }
    }

  }
  }
}