  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-loader/angular-loader.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/html5-boilerplate/js/vendor/jquery-1.10.2.min.js"></script>
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="bower_components/jquery/src/sizzle/dist/sizzle.min.js"></script>
