  <script src="src/library/jquery-2.1.3.min.js"></script>
  <script src="src/redering/renderingModule.js"></script>
  <script src="src/loaders/loaderModule.js"></script>
  <script src="src/loaders/resLoader.js"></script>
  <script src="src/loaders/sceneLoader.js"></script>
  <script src="src/view/view2/view2.js"></script>
  <script src="../src/view/game/view1.js"></script>
  <script src="src/redering/ctrl/gameSetupCtrl.js"></script>
  <script src="src/redering/ctrl/listRenderCtrl.js"></script>
  <script src="src/redering/ctrl/renderingCtrl.js"></script>
  <script src="src/library/threejs/three.min.js"></script>
  <script src="src/redering/model/renderModelFactory.js"></script>
  <script src="src/redering/directive/listRender.js"></script>
  <script src="src/redering/directive/ngWebgl.js"></script>
  <script src="src/library/threejs/loaders/ColladaLoader.js"></script>
  <script src="src/library/threejs/helpers/OrbitControls.js"></script>
